/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  @apply h-full;
}

body {
  @apply m-0 font-sans;
}

h1 {
  @apply text-5xl font-black mb-8;
}

h2 {
  @apply text-3xl font-black mb-4;
}

p {
  @apply text-lg leading-relaxed mb-4;

  &.subtitle {
    @apply text-2xl leading-relaxed text-slate-600;
  }
}

ul {
  @apply list-disc text-lg ml-4 mb-4;

  li {
    @apply py-2;
  }

  &.checklist {
    @apply list-none;

    li {
      @apply relative pl-8;

      &::before {
        @apply absolute left-0 top-2;
        content: '✅';
      }
    }
  }
}

code {
  @apply inline-block mx-2 px-2 bg-blue-200 rounded;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*Utility classes*/

.d-none {
  display: none;
}

.h-10 {
  height: 10px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.max-w-sm {
  max-width: 24rem;
}

.max-w-lg {
  max-width: 38rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #e3e3e4;
}

.bg-gray-hover:hover {
  background-color: #e3e3e4;
}

.bg-gray-dark {
  background-color: #cdcdcd !important;
}

.text-white {
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.dashboard-height {
  height: calc(100% - var(--mat-toolbar-standard-height));
}

.space-between {
  justify-content: space-between;
}

py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-4 {
  margin: 1rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tickets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
